/design-pattern.iml
/.idea/
/singleton/singleton.iml
/singleton/target/
/bridge/bridge.iml
/bridge/target/
/decorator/target/
/factory-method/target/
/proxy/target/
/simple-factory/target/
/strategy/target/
/strategy/strategy.iml
/simple-factory/simple-factory.iml
/factory-method/factory-method.iml
/proxy/proxy.iml
/decorator/decorator.iml
/command/command.iml
/command/target/
/chain-of-responsibility/chain-of-responsibility.iml
/chain-of-responsibility/target/
/mediator/mediator.iml
/mediator/target/
/flyweight/flyweight.iml
/flyweight/target/
