/design-pattern.iml
/.idea/
/singleton/singleton.iml
/singleton/target/
/bridge/bridge.iml
/bridge/target/
/decorator/target/
/factory-method/target/
/proxy/target/
/simple-factory/target/
/strategy/target/
/strategy/strategy.iml
/simple-factory/simple-factory.iml
/factory-method/factory-method.iml
/proxy/proxy.iml
/decorator/decorator.iml
/command/command.iml
